@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Dosis&family=Josefin+Sans&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(252, 242, 197, 0.493);
}

.body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: #fff;
}

section {
    padding: 50px 0;
}

section .center {
    max-width: 90%;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.trips {
    display: flex;
    gap: 10%;
}

.trips .img {
    /* overflow: hidden; */
    width: 1500px;
    position: relative;
    margin-bottom: 50px;
}

.trips .img .sub-text {
    position: absolute;
    background-color: #fffffff8;
    bottom: -40px;
    right: -60px;
    border-radius: 1rem;
    width: 300px;
    padding: 20px 20px 0px 20px;
}
.trips .img .sub-text p {
    padding: 0;
}

.trips .img img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 1rem;
}

.trips .text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.trips .text ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20%;
    list-style-type: none;
    padding: 0 10px;
}

.trips .text ul li i {
    color: orangered;
    margin-bottom: 30px;
}

.trips .text ul li span{
    margin-left: 2rem;
}

.trips .text button {
        font-size: 1.07rem;
        font-family: inherit;
        padding: 15px 25px;
        border-radius: 2rem;
        outline: none;
        border: none;
        color: #fff;
        background: orangered;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 200px;
        margin-top: 0px;
    }
    
    .trips .text button  i {
        opacity: 0;
    }
    
    .trips .text button:hover {
        letter-spacing: 1.5px;
    }
    
    .trips .text button:hover i {
        opacity: 1;
        margin: 0 -5px 0 5px;
    }

@media screen and (max-width: 985px) {
    .trips {
        display: inline-block;
    }

    .trips .img {
        /* overflow: hidden; */
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .trips .text button {
        width: 100%;
    }

    .trips .text {
        text-align: center;
        padding: 0 10%;
        padding-right: 5% !important;
    }
}

@media screen and (max-width: 530px) {
    .trips .img {
        height: 400px;
    }

    .trips .text ul {
        justify-content: center;
    }

    .trips .text ul li i {
        margin-bottom: 10px;
    }

    .trips .text button {
        margin-top: 20px;
    }
}

section .center h1 {
    font-size: 2.5rem;
    word-spacing: 5px;
    color: orangered;
    margin-bottom: 30px;
}

section .center p {
    color: rgba(134, 75, 36, 0.521);
    margin-bottom: 30px;
    line-height: 25px;
}

section .center .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section .center .services .service {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 1rem;
}

section .center .services:hover > :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

section .center .services .service:hover {
    background-color: rgba(252, 141, 67, 0.233);
}

section .center .services .service div {
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: orangered;
}

section .center .services .service h3 {
    margin-bottom: 20px;
}

@media screen and (max-width: 905px) {
    section .center .services .service {
        width: 700px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 685px) {
    section .center .services .service {
        width: 100%;
    }
}

/* ============= Let's explore ============= */
section.started {
    background-color: rgb(32, 32, 32);
    height: 420px;
    overflow: hidden;
    position: relative;
}

section.started .center {
    display: flex;
    padding-top: 30px;
}

section.started .center .left {
    flex-basis: 45%;
    text-align: left;
    padding-right: 30px;
    margin-bottom: 40px;
}

section.started .center .left h1 {
    font-size: 3.2rem;
    letter-spacing: 2px;
    color: #fff;
    line-height: 4rem;
    margin-bottom: 20px;
}

section.started .center .left button {
    font-size: 1.07rem;
    font-family: inherit;
    padding: 15px 25px;
    border-radius: 2rem;
    outline: none;
    border: none;
    color: #fff;
    background: orangered;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

section.started .center .left button i {
    opacity: 0;
}

section.started .center .left button:hover {
    letter-spacing: 1.5px;
}

section.started .center .left button:hover i {
    opacity: 1;
    margin: 0 -5px 0 5px;
}

section.started .center .right {
    padding-left: 30px;
}

section.started .center .right p {
    color: rgba(235, 227, 222, 0.541);
    max-width: 100%;
    width: 350px;
    text-align: left;
    font-size: 1.2rem;
}

section.started .center .right .images {
    display: flex;
    gap: 1.5rem;
    position: absolute;
    margin-top: 50px;
}

section.started .center .right .images .img {
    width: 250px;
    overflow: hidden;
    border-radius: 2rem;
}

section.started .center .right .images .img img {
    width: fit-content;
    height:300px;
}

@media screen and (max-width: 815px) {
    section.started {
        height: 700px;
    }

    section.started .center {
        display: block;
    }

    section.started .center .left {
        padding: 0;
    }

    section.started .center .right {
        padding-left: 0px;
    }
}


/* ============= footer ============= */
footer {
    background-color: rgba(252, 242, 197, 0.493);
    padding: 60px 0 20px;
    font-family: 'Dosis', sans-serif;
}

.center {
    max-width: 90%;
    width: 1200px;
    margin: 0 auto;
    /* background: #222; */
}

footer .center .row {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding-bottom: 10px; */
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(134, 75, 36, 0.205);
}

footer .center .row .left {
    width: 400px;
    /* margin-right: 20px; */
}

footer .center .row .left h1 {
    margin-bottom: 30px;
}

footer .center .row .left p {
    width: 300px;
    line-height: 25px;
}

footer .center .row .right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

footer .center .row .right > div {
    padding-left: 20px;
}

footer .center .row .right > div h3 {
    margin-bottom: 20px;
}

footer .center .row .right > div ul {
    list-style-type: none;
    margin-bottom: 30px;
}

footer .center .row .right > div ul li {
    margin-bottom: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

footer .center .row .right > div ul li::before {
    content: ">";
    color: transparent;
    font-weight: bold;
    position: absolute;
    left: -25px;
    top: 0%;
    transition: all 0.3s ease-in-out;
}

footer .center .row .right > div ul li:hover::before{
    left: -15px;
    color: rgba(134, 75, 36, 0.521);
}

footer .center .row .right > div ul li a {
    text-decoration: none;
    color: rgba(134, 75, 36, 0.76);
}

footer .center .row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .center .row2 .social-icons ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

footer .center .row2 .social-icons ul a {
    text-decoration: none;
    color: #fff;
}

footer .center .row2 .social-icons ul li {
    margin-left: 20px;
    padding: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgba(134, 75, 36, 0.507);
    display: grid;
    place-content: center;
    transition: all 0.3s ease-in-out;
}

footer .center .row2 .social-icons ul li:hover{
    transform: rotate(360deg);
    filter: hue-rotate(200deg);
}

@media screen and (max-width: 655px) {
    footer .center .row {
        flex-wrap: wrap;
    }

    footer .center .row .left {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    footer .center .row .left h1 {
        font-size: 3rem;
    }

    footer .center .row .left p {
        width: 100%;
    }

    footer .center .row .right {
        width: 100%;
        justify-content: space-between;
    }

    
}

@media screen and (max-width: 455px) {
    footer .center .row .right {
        width: 80%;
        margin: 0 auto;
    }
    
    footer .center .row2 {
        flex-direction: column;
    }

    footer .center .row2 .akwaba p {
        margin-bottom: 30px;
        text-align: center;
    }

    footer .center .row2 .social-icons ul {
        justify-content: center;
    }
}